<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Gitea" value="https://gitea-pmp-dev-1.patientsky.zone/api/packages/5be2e95d-7518-4774-a85b-8097f9dc95af/nuget/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Gitea>
        <add key="Username" value="u-5be2e95d-7518-4774-a85b-8097f9dc95af" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAcH17r6hjHUyJnOVcI1+cVQAAAAACAAAAAAAQZgAAAAEAACAAAADQ+hjnCj3RyqCCeYjIGAjDb5XPjDx2sFdUxVFpORvaswAAAAAOgAAAAAIAACAAAABXmT9GRnePe9i4a82Zt52dvI4RRL1jkSD+DFvBPqgVtzAAAACInMa9nr5YyPHJ8RVxDrqOasbeL89r9+++cplqIjHU6gGF7urb4K1OKJGDTVZXUMJAAAAABF1MEccHZJy3JxtBdxXn7K35gqdxLG7SpbWP4knEMRI8SwI+7AAs/4egx2IHKf03ZTQFwO4nsTvPUBfbVCGyJg==" />
      </Gitea>
  </packageSourceCredentials>
</configuration>